################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResponsiJunpro/.vs
/ResponsiJunpro/ResponsiJunpro/obj
